.parent{
    background-color: rgb(38, 44, 44);
    padding: 20px;
    
    
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-bottom: 200px;
    
    
    
    
   
    
    
}
.card{
    background-color: rgb(250, 192, 192);
    height: 550px;
    width: 350px;

    
}
.parent .card:hover{
    transform: scale(1.1);
}




    
    

